*{
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/*header start*/
header{
	background: url(../img/hero.jpg);
	text-align: center;
	width: 100%;
	height: auto;
	-webkit-background-size: cover;
	-moz-box-sizing: cover;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
}
.overlay{
	width: 100%;
	height: 100%;
	padding: 90px;
	text-shadow: 1px 1px 1px #333;
	background-image: linear-gradient(135deg, #9f05ff69 10%, #fd5e086b 100%);
}
.overlay h1{
	font-family: arial;
	font-size: 45px;
	color: #fff;
}
/*header end*/

.custom-card{
	margin: 10px;
	width: 240px;
	text-align: center;
}

.custom-card:hover{
	transform: scale(1);
	z-index: 999;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, .6);
}